@{
    ViewData["Title"] = "Sistema Academico";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprende a <a href="https://docs.microsoft.com/aspnet/core">Construir Sistemas Web AspNet Core</a>.</p>
</div>
